<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <form method="get">
        Name:
        <input type="text" name="username">
        <br>
        Password:
        <input type="password" name="userpass">
        <br>
        {% comment %} <input type="password" name="submit form"> {% endcomment %}
        <button type="submit">submit Form</button>
    </form>
</body>
</html>